<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<br/>
<a href="/people">All people</a>

<br/> <br/>

<div th:text="${person.getFio()} + ', ' + ${person.getBirthYear()}"></div>

<br/>

<div th:if="${books.isEmpty()}">Person didn't take any book</div>
<div th:unless="${books.isEmpty()}">
    <hr/>
    <b>Books:</b>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName()} + ', ' + ${book.getYear()}"></a>
    </div>
</div>

<hr/>

<a type="button" th:href="@{/people/{id}/edit(id = ${person.getId()})}">
    <button>Edit</button>
</a>
<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>